.post {
  padding: 15px;
  background-color: var(--gray-1);
  margin: auto;
  margin-top: 15px;
  max-width: 550px;
}

.user img {
  width: 50px;
  border-radius: 100%;
  height: 50px;
}

.user {
  display: flex;
  align-items: center;
  height: 50px;
}

.username-created-at h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.username-created-at {
  margin-left: 15px;
}

.post-text p {
  word-wrap: break-word;
}

.read-or-hide-button {
  font-size: 15px;
}

.image-container {
  overflow: hidden;
  max-height: 450px;
}
